<style type="text/css" media="screen">
	#container {background-image: none !important;}
</style>

<% if flash[:msg] %>
	<div class="flash"><%= flash[:msg] %></div>	
<% end %>

<div id="login" class="wrapper">
	<%= form_tag sessions_path do %>
	<h2>Log In</h2>
	
	<%= label_tag :email %>
	<%= text_field_tag :email, params[:email] %>
	
	<%= label_tag :password %>
	<%= password_field_tag :password, params[:password] %>
	
	<%= submit_tag "Log In", :class => "cta submit" %>
<% end %>
</div>