<!--
	
Title: Add New User | Sutro CMS
Description: This view provides the actual form to add a new user, specifying:
	- Full name
	- Email
	- Password
	- Password confirmation (user will be able to change later)
	- Permission level (when implemented)

-->

<div class="wrapper">
	<h2>Add New User</h2>
	
	<% if @user.errors.any? %>
		<div class="error_messages">
			<h2>Invalid Submission</h2>
			<ul>
				<% for message in @user.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>	
	<% end %>
	
	<%= form_for(:user, :url=>{:controller => "users", :action => 'create'}) do |f| %>
		
		<%= f.label :full_name %>
		<%= f.text_field :full_name %>
		
		<%= f.label :email %>
		<%= f.text_field :email %>
		
		<%= f.label :password %>
		<%= f.password_field :password %>
		
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
		
		<!-- SELECT FIELD FOR USER PERMISSIONS HERE -->		
		
		<%= f.submit "Add User", :class => "cta submit" %>	
		
	<% end %>
</div>