<%
=begin

Description: This partial loads the Sutro sidebar. The conditional logic inspects the controller and and action from the params hash in order to determine whether or not to render a link styled as .current.

=end
%>

<%#----- DASHBOARD -----%>
<% if action_request == "admin/posts#dashboard" %>
	<li><%= link_to "Dashboard", dashboard_path,  :class => "current"	%></li>
<% else %>
	<li><%= link_to "Dashboard", dashboard_path	%></li>
<% end %>


<%#-----  NEW POST -----%>
<% if action_request == "admin/posts#new" %>
	<li><%= link_to "New Post", new_admin_post_path,  :class => "current" %></li>
<% else %>
	<li><%= link_to "New Post", new_admin_post_path %></li>
<% end %>


<%#----- MANAGE POSTS -----%>
<% if action_request == "admin/posts#index" %>
	<li><%= link_to "Manage Posts", admin_posts_path, :class => "current" %></li>
<% else %>
	<li><%= link_to "Manage Posts", admin_posts_path %></li>
<% end %>

<%#----- MANAGE USERS -----%>
<% if action_request == "admin/users#manage" %>
	<li><%= link_to "Manage Users", manage_users_path, :class => "current" %></li>
<% else %>
	<li><%= link_to "Manage Users", manage_users_path %></li>
<% end %>

<%
	#----- LOGGED IN AS "USERNAME" -----#
%>
<% if current_user %>
	<%
		# MAKE FULL NAME A LINK TO USER EVENTUALLY 
	%>
	<p>Logged in as <%= current_user.full_name %></p>	
	<p><%= link_to "Log Out", logout_path %></p>
<% end %>