<div class="modal" id="swapmeet-modal">
  <a class="simplemodal-close" title="Close">&times;</a>
  <%= image_tag 'swapmeet_large.png', style: 'border: 1px solid #ccc' %>
  <h2>Swapmeet</h2>
  <p>Swapmeet is a bartering application that lets students trade their goods for other students goods. I helped design and develop the project as part of a graduate course on Scalable Internet Services. Our team built a tiered web architecture using HAProxy, Apache/Passenger, Rails, memcached, and MySQL, and studied optimizations and scaling techniques for handling high load.</p>
</div>


<div class="modal" id="payback-modal">
  <a class="simplemodal-close" title="Close">&times;</a>
  <%= link_to (image_tag 'payback_large.jpg', style: 'border: 1px solid #ccc'), "http://payback.io" %>
  <h2><a href="http://payback.io">payback.io</a></h2>
  <p>Payback is the easy way to track expenses with your household. You don't have to worry about who owes you money, when you lent it, and who's already paid you back. Just let Payback know and it will remember all the details for you! The site is designed with phones in mind, and looks great when you're on the go. Payback is developed in Rails and hosted on the Heroku Cedar stack.

  <a href="http://www.payback.io" style="display: block; margin-top: 10px">Get started today &raquo;</a></p>
</div>


<div class="modal" id="sexinfo-modal">
  <a class="simplemodal-close" title="Close">&times;</a>
  <%= link_to (image_tag 'sexinfo_large.jpg'), "http://www.soc.ucsb.edu/sexinfo/" %>
  <h2><a href="http://www.soc.ucsb.edu/sexinfo/">SexInfoOnline</a></h2>
  <p>I'm currently the lead web developer at SexInfoOnline.com, which provides comprehensive sex education and information about human sexuality to visitors from all over the world. The site is run by advanced sociology students at UCSB, along with a team of web developers. My main focus has been to move the site from a custom-built platform to the Drupal CMS. You can read more in the site in the <a href="http://articles.latimes.com/2009/aug/01/local/me-sexclass1">Los Angeles Times</a>.</p>
</div>


<div class="modal" id="followalong-modal">
  <a class="simplemodal-close" title="Close">&times;</a>
  <%= image_tag 'followalong_large.jpg' %>
  <h2>FollowAlong</h2>
  <p>FollowAlong is a real-time presentation sharing and response tool targeted at improving student experience in large classrooms. The business model and demo was developed by myself and 3 other students at Startup Weekend Santa Barbara, where our demo won Crowd Favorite and Best Presentation. Afterwards, our team pitched at the MIT Enterprise Forum MicroPitch Competition at UCSB.</p>
</div>


<div class="modal" id="cheeky-modal">
  <a class="simplemodal-close" title="Close">&times;</a>
  <%= link_to (image_tag 'cheeky_large.png', style: 'border: 1px solid #E1E1E1'), "http://andrewberls.github.com/Cheeky/" %>
  <h2><a href="http://andrewberls.github.com/Cheeky/">Cheeky.css</a></h2>
  <p>Cheeky is a responsive grid system built to stay out of your way. An included reset gives developers a cross-browser baseline, and the grid is flexible and easy to use. The project is built with Sass, which makes customizations and additions easy. There's more information about the project <a href="http://andrewberls.github.com/Cheeky/">here </a>.</p>
</div>


<div class="modal" id="sutro-modal">
  <a class="simplemodal-close" title="Close">&times;</a>
  <%= image_tag 'sutro_large.png', style: 'border: 1px solid #E1E1E1' %>
  <h2>Sutro</h2>
  <p>Sutro is my take on the classic Rails blog, written for this site when I was getting started with the Ruby and Rails. The engine supports multiple permission levels for administrators and guest authors, markdown-formatted posts, and RSS feeds, wrapped in a clean and minimal interface.</p>
</div>


<div class="modal" id="bruceb-modal">
  <a class="simplemodal-close" title="Close">&times;</a>
  <%= link_to (image_tag 'bruceb_large.jpg'), "http://cs.ucsb.edu/~andrewberls/" %>
  <h2><a href="http://bruceb.com/">Bruceb Consulting</a></h2>
  <p>I rebuilt Bruceb Consulting's website from scratch in order to reflect modern web standards in HTML/CSS and to create a clean, refreshed design. The new site is consistent with the theme established by the old site, and focuses on making navigation more simple and elegant. The redesign was done in tandem with an update to Bruceb's Wordpress blog in order to maintain consistency.</p>
</div>


<div class="modal" id="rha-modal">
  <a class="simplemodal-close" title="Close">&times;</a>
  <%= image_tag 'rha_large.jpg' %>
  <h2>UCSB RHA</h2>
  <p>From August 2010 to June 2011, I served as the webmaster of the Residence Halls Association, a student organization which oversees all of the Residence Halls on campus and conducts educational/cultural programs for residents. I completely redesigned the site, and transitioned the equipment rental system to a paperless online system. I received the NRHH Outstanding Leadership &amp; Service Award in June for my work.</p>
</div>
