<section id="portfolio">
  <div class="container">

    <div class="row">
      <div class="span-16">
        <h1>Projects</h1>
      </div>
    </div>

    <div class="row">

      <div class="span-4">
        <div class="portfolio-item">
          <h2><a href="#sexinfo-modal" class="tr-modal">SexInfoOnline</a></h2>
          <%= image_tag 'sexinfo_thumb.jpg' %>
          <p>I'm currently the lead web developer at SexInfoOnline.com, which provides comprehensive sex education and information about aspects of human sexuality to visitors from all over the world.</p>
          <aside class="separator"></aside>
          <a href="#sexinfo-modal" class="tr-modal">More Info &raquo;</a>
        </div>
      </div>


      <div class="span-4">
        <div class="portfolio-item">
          <h2><a href="#payback-modal" class="tr-modal">payback.io</a></h2>
          <%= image_tag 'payback_thumb.jpg', style: 'border: 1px solid #ccc' %>
          <p>Payback is a web app that makes spending and borrowing easier with your friends and roommates. The site does away with bill-splitting math, and is built to look great on mobile devices.</p>
          <aside class="separator"></aside>
          <a href="#payback-modal" class="tr-modal">More Info &raquo;</a>
        </div>
      </div>


      <div class="span-4">
        <div class="portfolio-item">
          <h2><a href="#bruceb-modal" class="tr-modal">Bruceb Consulting</a></h2>
          <%= image_tag 'bruceb_thumb.jpg' %>
          <p>I redesigned Bruceb Consulting's site and blog to reflect modern web standards in HTML/CSS and streamline content and navigation.</p>
          <aside class="separator"></aside>
          <a href="#bruceb-modal" class="tr-modal">More Info &raquo;</a>
        </div>
      </div>


      <div class="span-4">
        <div class="portfolio-item">
          <h2><a href="#rha-modal" class="tr-modal">UCSB RHA</a></h2>
          <%= image_tag 'rha_thumb.jpg' %>
          <p>I served as the webmaster of the Residence Halls Association at UCSB, a student organization which oversees all of the Residence Halls on campus and conducts educational/social programs.</p>
          <aside class="separator"></aside>
          <a href="#rha-modal" class="tr-modal">More Info &raquo;</a>
        </div>
      </div>

    </div>


    <div class="row">
      <div class="span-16">
        <a href="https://github.com/andrewberls/" class="github-link">More projects on GitHub →</a>
      </div>
    </div>

    <%= render 'modals' %>

  </div>
</section><!-- #portfolio -->
