	<section id="home">
		<div class="wrapper">								
			<p class="title">Hello and welcome! My name is <span>Andrew Berls</span> and I <span>really enjoy making websites.</span></p>
						
			<div class="threeCol">
				<h4>Who I am</h4>
				<p>I'm a 19-year old Computer Science student at UCSB. I love to build things and learn new tricks, and I get restless without a project on my hands.</p>
			</div>
			<div class="threeCol">
				<h4>What I do</h4>
				<p>Ever since I started working with the web I've been fascinated by <span>minimalist design</span>, <span>elegant code</span>, and <span>natural user experiences</span>.
				You can check out some of my best work
					<a class="portfolio" href="#portfolio">here</a>.</p>
			</div>
			<div class="threeCol">
				<h4>Say hello</h4>
				<p>I love working with others to produce clean, effective, and standards-compliant sites for any range of needs. Feel free to <a class ="contact" href="#contact">shoot me an email!</a></p>
			</div>			
		</div>
	</section>
	
	<section id="portfolio">
		<div class="wrapper">
				
			<div class="slider">
				<div class="window">
					<div class="reel">
						
						<div class="frame">							
							<%= link_to image_tag("sexinfo_large1.jpg"), 'http://www.soc.ucsb.edu/sexinfo' %>
							<div class="text">
								<h3>SexInfoOnline.com</h3>
								<p>I'm currently the lead web developer at SexInfoOnline.com, a site devoted to providing comprehensive sex education and accurate information about all aspects of human sexuality, as well as addressing general questions posed from all over the world. The site is run by advanced sociology students at the University of California at Santa Barbara, along with a team of student webmasters. My responsibilities include training and working with the other student developers to maintain existing content, manage projects, and add features. You can read more in the site in the <a href="http://articles.latimes.com/2009/aug/01/local/me-sexclass1">Los Angeles Times</a>.</p>
							</div>
																								
						</div>
						
						<div class="frame">							
							<%= link_to image_tag("bruceb_large1.jpg"), 'http://www.bruceb.com' %>
							<div class="text">
								<h3>Bruceb Consulting</h3>
								<p>I rebuilt <a href="http://www.bruceb.com">Bruceb Consulting's</a> website from scratch in order to reflect modern web standards in HTML/CSS and to implement a fast and extensible site structure. The previous design of the site was left largely untouched, with a focus on making navigation more simple and elegant. The redesign was done in tandem with an update to Bruceb's <a href="http://www.brucebnews.com">Wordpress blog</a> in order to maintain consistency across platforms.</p>
							</div>
						</div>
						
						<div class="frame">							
							<%= link_to image_tag("rha_large1.jpg"), '/assets/rha_full.jpg' %>
							<div class="text">
								<h3>UCSB RHA</h3>
								<p>From August of 2010 to June of 2011, I served as the webmaster of the Residence Halls Association at UCSB, a student organization which oversees all of the Residence Halls on campus and conducts social, educational, and cultural programs for all residents. In that time, I completely redid the site's layout and navigation in an effort to increase traffic and site use. I implemented several initiatives such as transitioning the existing equipment rental system to an entirely paperless online system. My responsibilities also included creating documentation for future webmasters, and I received the NRHH Outstanding Leadership &amp; Service Award in June for my work.</p>					
							</div>
						</div>	
												
					</div> <!-- .reel -->				
				</div> <!-- .window -->
				
				<div class="thumb">					
					<%= link_to image_tag("sexinfo_thumb1.jpg"), "#", :rel => 1, :class => "active" %>
				</div>
				<div class="thumb">					
					<%= link_to image_tag("bruceb_thumb1.jpg"), "#", :rel => 2 %>
				</div>
				<div class="thumb">					
					<%= link_to image_tag("rha_thumb1.jpg"), "#", :rel => 3 %>
				</div>
				
			</div> <!-- .slider -->
			
		</div>
	</section>
	<!--
	<section id="about">
		<div class="wrapper">			
			<h2>Details</h2>
			<div class="twoCol">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>	
			</div>
			<div class="twoCol">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>	
			</div>					
		</div>
	</section>
	-->
	<section id="contact">
		<div class="wrapper">								
												
			<form method="post" action="index.php">
				<h2>Get in Touch</h2>
				<p>If you're interested in working together on a project, or just want to say hello, I'd love to hear from you!</p>
				<label for="name">Name:</label>
				<input type="text" name="name" id="name" value="" />									
				
				<label for="email">Email:</label>
				<input type="text" name="email" id="email" value="" />
				
				<label for="message">Message:</label>
				<textarea name="message" id="message" rows="8" cols="40"></textarea>
				
				<input type="submit" name="submit" value="Submit" class ="cta" id="submit"/>				
			</form>
			
			<a href="#header" id="top">Back to top</a>
		</div>			
	</section>