<section class="intro-container">
  <h1>
    Hello! My name is <span class="highlight">Andrew Berls</span>
    <span class="ampersand">&amp;</span> I
    <span class="greeting">develop software</span>.
  </h1>

  <div class="scroll-icon-container">
    <a href="#work" class="fa fa-angle-down scroll"></a>
  </div>
</section>



<section class="sutro-container" id="work">
  <aside class="sutro-stripe"></aside>

  <div class="container">
    <div class="row">
      <div class="span-12 offset-2">

        <h1>Work</h1>
        <p>
          I'm currently a software engineer working on <a href="https://squareup.com/capital" target="_blank">Square Capital</a>, helping businesses get funds to grow.
        </p>

      </div>
    </div>
  </div>
</section>


<!--
<section class="portfolio-container" id="portfolio">
  <div class="container">

    <div class="row">
      <div class="span-12 offset-2">
        <h1>About</h1>
        <h2>I design and develop full-stack web applications using Ruby, Rails, and JavaScript.</h2>
      </div>
    </div>

    <div class="row">
      <div class="span-10 offset-3">
        <p class="subhead">I love everything from sketching mockups and building features to tinkering with servers and scaling servers up and out.</p>
        <p class="subhead">Here are some things I've hacked on recently:</p>
      </div>
    </div>


    <div class="row">
      <div class="span-10 offset-3">
        <div class="project-container">
          <%= image_tag 'pb.jpg' %>
          <h3 class="project-title"><a href="http://payback.io/" target="_blank">Payback</a></h3>
          <p class="project-description">
            Payback is the easy way to track expenses with your friends and roommates. You don't have to worry about who owes you money, when you lent it,
            and who's already paid you back. Just let Payback know and it will remember all the details for you!
            The site is integrated with Square Cash for easy payments, and designed to look great on phones for when you're on the go.
          </p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span-10 offset-3">
        <div class="project-container">
          <%= image_tag 'notes.jpg' %>
          <h3 class="project-title"><a href="https://github.com/andrewberls/notes-cli" target="_blank">notes-cli</a></h3>
          <p class="project-description">
            Notes is a tool for tracking source code annotations such as TODO or FIXME.
            A command-line interface searches through files in a directory and prints annotations, and a mountable web interface provides visualization and filtering tools.
          </p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span-10 offset-3">
        <div class="project-container">
          <%= image_tag 'geocodr.jpg' %>
          <h3 class="project-title"><a href="http://ucsb-geocodr.herokuapp.com/" target="_blank">Geocodr</a></h3>
          <p class="project-description">
            Geocodr uses the GitHub API to find and display developers and projects near you, and was built at the Facebook NorCal Regional Hackathon.
            A Scala backend serves data to a JS frontend running d3.js, to create visualizations of activity going on around you.
            Our team received an honorable mention at the event for the project.
          </p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span-10 offset-3">
        <div class="project-container">
          <%= image_tag 'sexinfo.jpg' %>
          <h3 class="project-title"><a href="http://sexinfoonline.com/" target="_blank">SexInfoOnline</a></h3>
          <p class="project-description">
            SexInfoOnline is a website run in conjunction with the sociology department at UCSB, and provides comprehensive sex education and information about human sexuality to visitors from all over the world.
            A team of writers creates content and answers questions from a global audience, and as lead developer I run things behind the scenes. You can read more in the site in the
            <a href="http://articles.latimes.com/2009/aug/01/local/me-sexclass1">Los Angeles Times</a>.
          </p>
        </div>
      </div>
    </div>

  </div>


  <a href="https://github.com/andrewberls/" target="_blank" class="github">More projects on GitHub →</a>
</section>
-->



<section class="latest-post-container">
  <h2>Latest blog post: <%= link_to Post.last.title, Post.last %></h2>
</section>



<section class="contact-container" id="contact">
  <h2>Get in Touch</h2>

  <p class="contact">
    Send me an email at <a href="mailto:andrew.berls@gmail.com" target="_blank">andrew.berls@gmail.com</a> or
    say hello on <a href="https://twitter.com/aberls">Twitter</a> or
    <a href="http://www.linkedin.com/pub/andrew-berls/2b/1a6/aa8/">LinkedIn</a>!
  </p>

  <!--
  <p class="resume">
    Looking for paperwork?
    <a href="/AndrewBerls_Resume.pdf" target="_blank">Here's my resumé</a> (PDF).
  </p>
  -->
</section>
