<% content_for :title, "Edit Post | SutroCMS" %>

<div class="wrapper">
	<h2>Edit Post</h2>
		
	<%= form_for(:post, :url=>{:action => 'update', :id => @post.id}) do |f| %>		
		<%= f.label :title %>
		<%= f.text_field :title %>
		<%= f.label :body, "Post" %>
		<%= f.text_area :body %>
		<%= submit_tag "Update", :id=>"submit", :class => "cta" %>				
		<a class="cta" id="cancel" href="/overview">Cancel</a>
	<% end %>	
</div>