<% content_for :title, "New Post | SutroCMS" %>

<div class="wrapper">
	<h2>Create New Post</h2>
	
	<%= form_for(:post, :url=>{:action => 'create'}) do |f| %>		
		<%= f.label :title %>
		<%= f.text_field :title %>
		<%= f.label :body, "Post" %>
		<%= f.text_area :body %>		
		<%= submit_tag "Publish", :id=>"submit", :class => "cta" %>		
		<!-- <input type="button" name="cancel" value="Cancel"  class ="cta" id="cancel"/> -->
		<a class="cta" id="cancel" href="/overview">Cancel</a>
	<% end %>
</div>

