<div class="wrapper">
	<h2>Create New Post</h2>
	
	<% if @post.errors.any? %>
		<div class="error_messages">
			<h2>Invalid Submission</h2>
			<ul>
				<% for message in @post.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>	
	<% end %>
	
	<%= form_for(:post, :url=>{:action => 'create'}) do |f| %>		
		<%= f.label :title %>
		<%= f.text_field :title %>
		<%= f.label :body, "Post" %>
		<%= f.text_area :body %>
		<%# submit_tag "Publish", :id=>"submit", :class => "cta" %>			
		<%= f.submit "Publish", :class => "cta submit" %>		
		<a class="cta" id="cancel" href="/overview">Cancel</a>
	<% end %>
</div>

