<h2>Posts</h2>

<table>
	<% if (!@posts or @posts.length == 0) %>
		<td>You haven't added any content yet! Click <%= link_to "here", :action => "new" %> to get started.</td>				
	<% else %>	
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Date</th>
			<th>Tags</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
		
		<% @posts.each do |post| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td><%= raw post.title %></td>
			<td>Andrew Berls</td>
			<td><%= render_sutro_time(post.created_at) %></td>
			<td>
				<% if post.tags == nil %>			
					<!-- No tags -->
					<span style="color: orange;">_No tags yet_</span>
				<% else %>
					<!-- 
						EVENTUALLY THIS WILL NEED TO BE A COMMA SEPARATED LIST OF LINKS 
						EACH LINK WILL LEAD TO AN ADMINISTRATIVE LIST OF POSTS WITH THAT TAG
						render_tags(post.tags)
							Sample tag: "food,cooking,baking" (string)
							Split by comma,	format tag and auto-generate link
					-->
					<% post.tags %>
				<% end %>
			</td>
			<td>
				<%= render_status(post.status) %>
			</td>
			<td>
				<%= link_to("Edit", {:action => 'edit', :id => post.id}) %>
				&nbsp;
				<%= link_to "Delete", {:action => 'destroy', :id => post.id}, confirm: "Are you sure you want to delete this post?" %> 
			</td>
		</tr>
		<% end %>
	<% end %>
	
</table>

