<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :body, "Post" %>
<p class="help-text"><a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> supported</p>
<%= f.text_area :body, cols: nil, rows: nil %>

<%= f.label :tag_list, "Tags (optional)" %>
<p class="help-text">Enter a comma separated list of tags.</p>
<%= f.text_field :tag_list %>

<%= f.label :url_alias, "Post URL" %>
<%= f.text_field :url_alias %>
