<table>
  <% if @posts.blank? %>
    <td>You haven't added any content yet! Click <%= link_to "here", new_admin_post_path %> to get started.</td>
  <% else %>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
      <th>Alias</th>
      <th>Tags</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>

    <% @posts.each do |post| %>
      <tr class=<%= cycle("odd", "even") %>>

        <% path = post.url_alias.present? ? post_path(post.url_alias) : post_path(post) %>
        <%= content_tag :td, (link_to post.title, path, class: "plain") %>

        <%= content_tag :td, link_to(post.user.full_name, admin_user_path(post.user)) %>

        <%= content_tag :td, render_sutro_time(post.created_at) %>

        <td class="column-small">
          <% if post.url_alias.present? %>
            <%= link_to post.url_alias, post_path(post.url_alias) %>
          <% else %>
            -
          <% end %>
        </td>

        <%= content_tag :td, render_tags(post.tags), class: 'column-small' %>

        <%= content_tag :td, render_status_pill(post.status) %>

        <td>
          <% unless current_user.is_author? %>
            <%= link_to "Edit", edit_admin_post_path(post.id) %>
            &nbsp;
            <%= link_to "Delete", { :action => 'destroy', :id => post.id },
              :method => :delete, confirm: "Are you sure you want to delete this post?" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>

</table>
