<table>
  <% if !@posts or @posts.blank? %>
    <td>You haven't added any content yet! Click <%= link_to "here", new_admin_post_path %> to get started.</td>
  <% else %>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
      <th>Alias</th>
      <th>Tags</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>

    <% @posts.each do |post| %>
      <tr class=<%= cycle("odd", "even") %>>
        <td>
          <% if post.url_alias.present? %>
            <%= link_to post.title, post_path(post.url_alias), class: "plain" %>
          <% else %>
            <%= link_to post.title, post_path(post), class: "plain" %>
          <% end %>
        </td>

        <td>
          <%= link_to post.user.full_name, admin_user_path(post.user) %>
        </td>

        <td>
          <%= render_sutro_time(post.created_at) %>
        </td>

        <td class="column-small">
          <% if post.url_alias.present? %>
            <%= link_to post.url_alias, post_path(post.url_alias) %>
          <% else %>
            -
          <% end %>
        </td>

        <td class="column-small">
          <%= render_tags(post.tags) %>
        </td>

        <td>
          <%= render_status_pill(post.status) %>
        </td>

        <td>
          <% unless current_user.is_author? %>
            <%= link_to "Edit", edit_admin_post_path(post.id) %>
            &nbsp;
            <%= link_to "Delete", {:action => 'destroy', :id => post.id},
              {:method => :delete, confirm: "Are you sure you want to delete this post?"} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>

</table>
