<% provide(:title, "Edit Post: #{@post.title}") %>

<div class="wrapper">
  <%= render "post_errors" %>

  <%= form_for @post, url: admin_post_path , :method => :put do |f| %>

    <%= render 'form_fields', f: f %>

    <%= f.hidden_field :status, :value => 1 %>

    <%= link_to "Cancel", admin_posts_path, class: "btn btn-red", id: "cancel" %>


    <div class="btn-group right">
      <%= f.submit "Save for later", class: "btn btn-blue", id: "save" %>

      <% if @post.status == 0 %>
        <%= f.submit "Publish", class: "btn btn-green" %>
      <% else %>
        <%= f.submit "Update", class: "btn btn-green" %>
      <% end %>
    </div>

  <% end %>
</div>

<%#= render 'recommendations' %>
