<h2>Posts</h2>

<% if flash[:type] == "action" %>
	<p class="action_success"><%= flash[:msg] %></p>
<% end %>

<table>
	<% if (!@posts or @posts.length == 0) %>
		<td>You haven't added any content yet! Click <%= link_to "here", new_admin_post_path %> to get started.</td>				
	<% else %>	
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Date</th>
			<th>Tags</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
		
		<% @posts.each do |post| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td><%= raw post.title %></td>
			<td>Andrew Berls</td>
			<td><%= render_sutro_time(post.created_at) %></td>
			<td>
				<% if post.tags.blank? %>					
					-
				<% else %>				
					<%= render_tags(post.tags) %>					
				<% end %>
			</td>
			<td>
				<%= render_status(post.status) %>
			</td>
			<td>
				<%= link_to("Edit", {:action => 'edit', :id => post.id}) %>
				&nbsp;
				<%= link_to "Delete", {:action => 'destroy', :id => post.id}, 
					{:method => :delete, confirm: "Are you sure you want to delete this post?"} %> 
			</td>
		</tr>
		<% end %>
	<% end %>
	
</table>