<% provide(:title, "New Post") %>

<div class="wrapper">

	<h2>Create New Text Post</h2>
	
  <%= render "post_errors" %>
	
  <%= form_for @post, url: admin_posts_path do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title %>
		<%= f.label :body, "Post" %>
		<%= f.text_area :body %>
		
		<%= f.label :tag_list, "Tags (optional)" %>		
		<p class="fieldDescription">Enter a comma separated list of tags.</p>
		<%= f.text_field :tag_list %>

    <%= f.label :url_alias, "URL Alias (optional)"%>
    <p class="fieldDescription">Example: any-questions</p>
    <%= f.text_field :url_alias %>
		
		<%= f.hidden_field(:status) %>
		<%= f.submit "Publish", :class => "cta submit" %>		
		<%= f.submit "Save for later", {:class => "cta  submit", :id => "save"} %>					
		<%= link_to "Cancel", admin_posts_path, {:class => "cta", :id => "cancel"}%>
	<% end %>
</div>

<div class="recommendations">
	<ul>		
		<h4>Style recommendations:</h4>
		<li>Use &lt;h3&gt; for section headings.</li>
		<li>Use &lt;pre&gt; for code blocks, and &lt;code&gt; for inline snippets.</li>
		<li>span.label for code file labels, or span.comment for an inline comment</li>		
		<li>Image path is "/images/posts/name.jpg"</li>
	</ul>
</div>