<div class="wrapper">
	<!-- Add options for pure links/images later  -->
	<h2>Create New Text Post</h2>
	
	<% flash.each do |name,msg| %>
		<p class="msgDebug"><%= msg %></p>
	<% end %>
	
	<% if @post && @post.errors.any? %>
		<div class="error_messages">
			<h2>Invalid Submission</h2>
			<ul>
				<% for message in @post.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>	
	<% end %>
	
	<%= form_for(:post, :url=>{:action => 'create'}) do |f| %>		
		<%= f.label :title %>
		<%= f.text_field :title %>
		<%= f.label :body, "Post" %>
		<%= f.text_area :body %>
		
		<%= f.label :tag_list, "Tags (optional)" %>		
		<p class="fieldDescription">Enter a comma separated list of tags.</p>
		<%= f.text_field :tag_list %>
		
		<%= f.hidden_field(:status) %>
		<%= f.submit "Publish", :class => "cta submit" %>		
		<%= f.submit "Save for later", {:class => "cta  submit", :id => "save"} %>					
		<%= link_to "Cancel", dashboard_path, {:class => "cta", :id => "cancel"}%>
	<% end %>
</div>

<div class="recommendations">
	<ul>		
		<h4>Style recommendations:</h4>
		<li>Use &lt;h5&gt; for section headings.</li>
		<li>Use &lt;pre&gt; for code blocks, and &lt;code&gt; for inline snippets.</li>
		<li>span.label for code file labels, or span.comment for an inline comment</li>		
		<li>Image path is "/images/posts/name.jpg"</li>
	</ul>
</div>