<% provide(:title, "New Post") %>

<div class="wrapper">
  <%= render "post_errors" %>

  <%= form_for @post, url: admin_posts_path do |f| %>
    <%= render 'form_fields', f: f %>

    <%= f.hidden_field :status %>

    <%= link_to "Cancel", admin_posts_path, class: "btn btn-red", id: "cancel" %>

    <div class="btn-group right">
      <%= f.submit "Save for later", class: "btn btn-blue", id: "save" %>
      <%= f.submit "Publish", class: "btn btn-green" %>
    </div>
  <% end %>

</div>

<div class="post-preview"></div>
