<div class="wrapper">
	<!-- Add options for pure links/images later  -->
	<h2>Create New Text Post</h2>
	
	<% flash.each do |name,msg| %>
		<p class="msgDebug"><%= msg %></p>
	<% end %>
	
	<% if @post && @post.errors.any? %>
		<div class="error_messages">
			<h2>Invalid Submission</h2>
			<ul>
				<% for message in @post.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>	
	<% end %>
	
	<%= form_for(:post, :url=>{:action => 'create'}) do |f| %>		
		<%= f.label :title %>
		<%= f.text_field :title %>
		<%= f.label :body, "Post" %>
		<%= f.text_area :body %>
		<%= f.label :tags, "Tags (optional)" %>
		<%= f.hidden_field(:status) %>
		<p class="fieldDescription">Enter a comma separated list of tags.</p>
		<%= f.text_field :tags %>		
		<%=
			# Save with status 1 by default
			f.submit "Publish", :class => "cta submit"
		%>	
		<%= 
			# Save with status 0 (draft)
			# Draft is marked by hidden field populated by JS on submit			
			f.submit "Save for later", {:class => "cta  submit", :id => "save"}
		%>						
		<%= link_to "Cancel", overview_path, {:class => "cta", :id => "cancel"}%>
	<% end %>
</div>

<div class="recommendations">
	<ul>		
		<h4>Style recommendations:</h4>
		<li>Use h5 for section headings.</li>
		<li>Use code>pre for code snippets (watch out for pre formatting).</li>
	</ul>
</div>