<div class="wrapper">
	<h2>Edit Post</h2>
	
	<% if @post && @post.errors.any? %>
		<div class="error_messages">
			<h2>Invalid Submission</h2>
			<ul>
				<% for message in @post.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>	
	<% end %>
		
	<%= form_for(:post, :url=>{:action => 'update', :id => @post.id}, :method => :put) do |f| %>		
		<%= f.label :title %>
		<%= f.text_field :title %>
		<%= f.label :body, "Post" %>
		<%= f.text_area :body %>
		<%
			# Old submit tag
			# submit_tag "Update", :class => "cta submit"
			# TO DO - FIND OUT HOW BUTTONS CAN DETERMINE STATUS TO BE SAVED
		%>			
		<%=
			# Save with status 1	
			f.submit "Update", :class => "cta submit"
		%>	
		<%= 
			# Save with status 0
			# SAVE_DRAFT DOES NOT TAKE EDITING INTO ACCOUNT - ERROR
			#link_to "Save for later", save_draft_path, {:class => "cta", :id => "save"}
		%>						
		<%= link_to "Cancel", overview_path, {:class => "cta", :id => "cancel"}%>
		
	<% end %>	
</div>