<% flash.each do |name,msg| %>	
	<div class="flash"><%= msg %></div>
<% end %>

<% @posts.each do |post| %>
	<div class="post">
		<h4><%= link_to(raw(post.title), {:action => "show", :id => post.id}) %></h4>
		<p class="date"><%= render_sutro_time(post.created_at) %></p>
		<p><%= raw post.body %></p>
		
		<!-- TEMPORARY STATIC TAGS FOR STYLING. REPLACE WITH CODE FROM DISABLEDRUBY.TXT -->		
		<!--
		<a class="tag" href="#">static</a>
		<a class="tag" href="#">fake</a>
		-->
		<%= link_to raw("Full Post &raquo;"), {:action => "show", :id => post.id}, {:class => "button"} %>
		<div style="clear: both"></div>
	</div>
<% end %>


<%= 
	# Display pagination links (prev,1,2,next,etc)
	will_paginate @posts 
%>

<a href="#header" id="top">Back to top</a>
