<% if flash[:msg] %>	
	<div class="flash"><%= flash[:msg] %></div>
<% end %>

<% @posts.each do |post| %>
	<div class="post">
		<h4><%= link_to(raw(post.title), {:action => "show", :id => post.id}) %></h4>
		<p class="date"><%= render_sutro_time(post.created_at) %></p>		

		<p><%= render_teaser(post.body) %></p>		
				
		<% unless has_pagebreak? post.body || post.tags.blank? %>						
			<%= render_tags(post.tags, false) %>					
		<% end %>	
		
		<% if has_pagebreak? post.body %>
			<%= link_to raw("Full Post &raquo;"), {:action => "show", :id => post.id}, 
				{:class => "button"} %>
		<% end %>
		<div class="clearfix"></div>
	</div>
<% end %>


<%= 
	# Display pagination links
	will_paginate @posts 
%>

<a href="#header" id="top">Back to top</a>
