<% flash.each do |name,msg| %>	
	<div class="flash"><%= msg %></div>
<% end %>

<% @posts.each do |post| %>
	<div class="post">
		<h4><%= link_to(raw(post.title), {:action => "show", :id => post.id}) %></h4>
		<p class="date"><%= render_sutro_time(post.created_at) %></p>		
		<%
			# TO DO: if post is type:text only, use render_teaser(post.body) to
			# trim and add read more breka
		%>
		<p><%= raw post.body %></p>		
				
		<% unless post.tags.blank? %>						
			<%=
				# render_tags(tags, commas=true)
				raw render_tags(post.tags, false)
			%>					
		<% end %>	
		
		<%= link_to raw("Full Post &raquo;"), {:action => "show", :id => post.id}, {:class => "button"} %>
		<div style="clear: both"></div>
	</div>
<% end %>


<%= 
	# Display pagination links
	will_paginate @posts 
%>

<a href="#header" id="top">Back to top</a>
