<% provide(:title, "| Blog") %>

<div class="container blog-container">
  <div class="row">
    <% unless @tag.nil? %>
      <h1>Tagged: <%= @tag.name %></h1>
    <% end %>

    <div class="span-11">
      <%= render 'shared/flashes' %>

      <% @posts.each do |post| %>
        
          <div class="post">
            <h2><%= link_to raw(post.title), post_path(post.url_alias) %></h2>
            <p class="date"><%= render_sutro_time(post.created_at) %></p>   

            <p><%= render_teaser(post.body) %></p>    
                
            <% unless has_pagebreak? post.body || post.tags.blank? %>           
              <%= render_tags(post.tags, false) %>          
            <% end %> 
            
            <% if has_pagebreak? post.body %>
              <%= link_to raw("Full Post &raquo;"), post_path(post.id), {:class => "read-more"} %>
            <% end %>
          </div>
        
      <% end %>

      <%= will_paginate @posts %>

    </div>

    <%= render 'sidebar' %>

  </div>
</div><!-- .container -->



<!-- <a href="#header" id="top">Back to top</a> -->
