<%= link_to raw("&laquo; Back to Blog"), {:action => "list"}, :id => "back" %>

<div class="post">
	<h4><%= raw @post.title %></h4>
	<p class="date"><%= @post.created_at %></p>
	<p><%= 
		#raw @post.body
		render_full_post(@post.body)
	%></p>
	
	<% unless @post.tags.blank? %>						
		<%=
			# render_tags(tags, commas=true)
			render_tags(@post.tags, false)
		%>					
	<% end %>		
</div>
