<% provide(:title, @post.title) %>

<div class="container blog-container">
  <div class="row">
    <%= render 'sidebar' %>

    <div class="span-11">
      <%= render 'admin_controls' if logged_in? %>

      <div class="post">
        <div class="post-title-container">
          <h2 class="post-title"><%= raw @post.title %></h2>
          <p class="post-date"><%= render_time(@post.created_at) %></p>
        </div>

        <div class="post-content">
          <%= markdown @post.full_text  %>


          <span style="display:inline-block;margin-right:5px;">Tags:</span>
          <%= render_tags @post.tags %>

          <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div><!-- .post -->

      <%= render 'mailchimp_signup' %>

      <%= link_to raw("&laquo; Back to Blog"), blog_path, class: "btn btn-blue back" %>

    </div><!-- .span-11 -->
  </div><!-- .row -->
</div><!-- .blog-container -->


<div class="comments-container">
  <div class="container">

    <div class="row">
      <div class="span-10 offset-4">
        <%= render 'disqus' %>
      </div>
    </div>

  </div>
</div>
