<% provide(:title, "| #{@post.title}") %>

<div class="container blog-container">
  <div class="row">
    <div class="span-11">

      <% if logged_in? %>
        <div class="sutro-bar">
          <%= link_to "Dashboard", dashboard_path, class: "sutro-action" %>
          <%= link_to "Edit Post", edit_admin_post_path(@post), class: "sutro-action" %>
        </div>
      <% end %>

      <div class="post">
        <h2><%= raw @post.title %></h2>
        <p class="date"><%= render_sutro_time(@post.created_at) %></p>   
        <p><%= render_full_post(@post.body) %></p> 
            
        <% unless @post.tags.blank? %>           
          <%= render_tags(@post.tags, false) %>          
        <% end %>
      </div><!-- .post -->

      <%= link_to raw("&laquo; Back to Blog"), blog_path, :id => "back" %>

      <div class="row">
        <div class="span-11">
          <%= render 'disqus' %>
        </div>
      </div>

    </div>

    <%= render 'sidebar' %>

  </div>
</div><!-- .blog-container -->
