<% provide(:title, "| #{@post.title}") %>

<div class="container blog-container">
  <div class="row">
    <div class="span-11">

      <% if logged_in? %>
        <div class="sutro-bar">
          <%= link_to "Dashboard", admin_posts_path, class: "sutro-action" %>
          <%= link_to "Edit Post", edit_admin_post_path(@post), class: "sutro-action" %>
        </div>
      <% end %>

      <div class="post">
        <h2><%= raw @post.title %></h2>
        <p class="date"><%= render_sutro_time(@post.created_at) %></p>   
        <p><%= @post.render_full %></p>
            
        <% unless @post.tags.blank? %>           
          <%= render_tags(@post.tags, false) %>          
        <% end %>

        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div><!-- .post -->

      <%= link_to raw("&laquo; Back to Blog"), blog_path, id: "back" %>

      <div class="row">
        <div class="span-11">
          <%= render 'disqus' %>
        </div>
      </div>

    </div>

    <%= render 'sidebar' %>

  </div>
</div><!-- .blog-container -->
