<% provide(:title, "Manage Users") %>

<%= render 'shared/flashes' %>

<%= link_to "+ Add New User", new_admin_user_path, class: 'btn', style: 'margin: 0 0 20px;' unless current_user.is_author? %>

<table>

  <% if @users.blank? %>
    <td>That's weird, there doesn't appear to be any existing users. This is an error that should probably be fixed by an installation script. Anyways, click <%= link_to "here", new_admin_user_path %> to add a new user!</td>
  <% else %>

    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Permission Level</th>
      <th>Actions</th>
    </tr>

    <% @users.each do |user| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= link_to user.full_name, admin_user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.permission_str %></td>
        <td>
          <%= link_to("Edit", edit_admin_user_path(user)) %>
          &nbsp;
          <%=
            link_to "Delete", {:action => 'destroy', :id => user.id},
              {:method => :delete, confirm: "This will completely remove the user! Are you sure?"}
          %>
        </td>
      </tr>
    <% end %>

  <% end %>

</table>
