<h2>Manage Users</h2>

<%= link_to "Add New User", new_admin_user_path %>

<% if flash[:type] == "action" %>
	<p class="action_success"><%= flash[:msg] %></p>
<% end %>

<table>
	
	<% if !@users || @users.length == 0 %>	
		<td>That's weird, there doesn't appear to be any existing users. This is an error that should probably be fixed by an installation script. Anyways, click <%= link_to "here", :action => "new" %> to add a new user!</td>		
	<% else %>
	
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Permission Level</th>
			<th>Actions</th>
		</tr>
		
		<% @users.each do |user| %>
			<tr class="<%= cycle('odd', 'even') %>">
				<td>
					<% if !user.full_name || user.full_name.empty? %>
						<p style="color:red;">Error Detected</p>
					<% else %>
						<%= user.full_name %>
					<% end %>					
				</td>
				<td><%= user.email %></td>
				<td>
					<%= render_permissions(user.permissions) %>					
				</td>
				<td>
					<%= link_to("Edit", edit_admin_user_path(user.id)) %>
					&nbsp;
					<%= 
						link_to "Delete", {:action => 'destroy', :id => user.id}, 
						{:method => :delete, confirm: "This will completely remove the user! Are you sure?"}
					%>
				</td>
			</tr>
		<% end %>
		
	<% end %>			
	
</table>