<% provide(:title, "New User") %>

<div class="wrapper">

  <%= render 'user_errors' %>

  <%= form_for @user, url: admin_users_path do |f| %>

    <%= f.label :full_name %>
    <%= f.text_field :full_name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%= f.label :permissions %>
    <%=
      f.select(:permissions, options_for_select([
        ['Administrator', 0],
        ['Developer', 1],
        ['Author', 2]
      ],2)) # Preselected Author default permission
    %>

    <div class="right">
      <%= f.submit "Add User", class: "btn btn-green" %>
    </div>

  <% end %>
</div>
