<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width">
  <title><%= yield(:title) + ' | ' if content_for?(:title) %>Andrew Berls</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag :application %>
  <%= auto_discovery_link_tag :atom, "/feed" %>
  <%= auto_discovery_link_tag :rss, "/feed.rss" %>
  <link rel="icon" type="image/gif" href="/favicon.gif" />
  <%= csrf_meta_tag %>
</head>

<body>

  <%= render "home/header" %>

  <%= yield %>

  <footer id="footer">
    <div class="container">
      <div class="row">

        <p>Powered by <a href="http://github.com/andrewberls/andrewberls">Sutro</a></p>

      </div>
    </div>
  </footer><!-- footer -->


  <%= javascript_include_tag :application %>

  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9633739-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>
