<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Andrew Berls <%= yield(:title) %></title>
  <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag :application %>
  <%= auto_discovery_link_tag :atom, "/feed" %>
  <%= auto_discovery_link_tag :rss, "/feed.rss" %>
  <link rel="icon" type="image/gif" href="/favicon.gif" />
</head>

<body>
  
  <%= render "shared/header" %>
  
  <%= yield %>

  <%= render "shared/footer" %>
  
  
  <%= javascript_include_tag :application %>
    
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9633739-4']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  
</body>
</html>