<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title><%= @page_title || "AndrewBerls.com" %></title>
	<%= stylesheet_link_tag "reset" %>
	<%= stylesheet_link_tag "style" %>	
	<%= stylesheet_link_tag "blog" %>
	<%= auto_discovery_link_tag :atom, "/blog/feed" %>
	<%= auto_discovery_link_tag :rss, "/blog/feed.rss" %>
	<link rel="icon" type="image/gif" href="/favicon.gif" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
	<div id="container">
	<section id="header">
		<div class="wrapper">		
			<a href="/"><h2>Andrew <span>Berls</span></h2></a>
			<ul class="nav">												
				<li><a href="/#portfolio" class="portfolio noScroll">portfolio</a></li>				
				<li><a href="/#contact" class="contact noScroll">get in touch</a></li>
				<li><a href="/#footer" class="footer noScroll">resources</a></li>
				<li><a href="#" class="current">blog</a></li>
			</ul>		
		</div>
	</section>

	<section id="main">
		
		<div class="wrapper">
			
			<div class="posts-right">
			<div class="sidebar">
				<h4>about me</h4>				
				<p>I'm currently a student at UCSB, and I love building websites. This is where I occasionally post things that amuse or interest me. I designed and wrote the software that powers this blog using Rails, and I distribute it for free over on <a href="https://github.com/andrewberls/andrewberls">GitHub.</a></p><p>If you like what you see or want to know more, you can check out my portfolio <a href="/">here</a>!</p>
			<a href="http://feeds.feedburner.com/andrewberls" id="rss">Grab the RSS</a>
			</div><!-- .sidebar -->		
			</div><!-- .posts-left -->
			
			<div class="posts-left">
				<%= yield %>
			</div><!-- .post-right -->
			<div style="clear: both;"></div>
		</div><!--.wrapper -->
				
	</section>
	
	<section id="copyright">				
		<%= render "shared/copyright" %>
	</section>
	
	</div> <!-- #container -->

	<%= javascript_include_tag "functions.min" %>	
	
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-9633739-4']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>	
</body>
</html>