<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title><%= @page_title %></title>
	<%= stylesheet_link_tag "reset" %>
	<%= stylesheet_link_tag "sutro" %>		
	<%= favicon_link_tag %>	
	<%= javascript_include_tag :application %>
	<%= csrf_meta_tag %>
</head>

<body>
	
	<div id="container">
		<% unless params[:controller] == "sessions" && params[:action] == "new" %>
			<div id="sidebar">
				<ul class="nav">
					<%= render "shared/nav"	%>						
				</ul>		
			</div>
		<% end %>
		<div id="content">
			<% flash.each do |name,msg| %>
				<%= content_tag :div, msg, :class => "flash"%>
			<% end %>
			<%= yield %>
		</div>	
		
	</div>
		
</body>
</html>