<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Sutro | <%= yield(:title) %></title>	
	<%= stylesheet_link_tag "sutro" %>
	<link rel="icon" type="image/gif" href="/favicon.gif" />	
	<%= csrf_meta_tag %>
</head>
<body>
	
	<div id="container">
		
		<% unless params[:controller] == "sessions" %>
			<div id="sidebar">
				<ul class="nav">
					<%= render "shared/nav"	%>						
				</ul>		
			</div>
		<% end %>
		
		<div id="content">			
			<%= yield %>
		</div>	
		
	</div><!-- .container -->

	<%= javascript_include_tag :application %>
	<%= javascript_include_tag "sutro.min" %>
</body>
</html>